
@{
    ViewBag.Title = @Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.Hakkimizda;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/><br /><br /><br /><br /><br /><br />

<section class="home-about-area" id="about">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 no-padding home-about-left">
                <a><img src="https://i.hizliresim.com/al08VB.jpg" style="border-radius:150px; margin-left:20px;"></a>            
            </div>
            <div class="col-lg-6 no-padding home-about-right">
                <h1>
                    @Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.nedensau
                </h1>

               <ul style="list-style-type:square">
                   <li>@Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.Uygunfiyatlıkiralamaseçenekleri</li>
                   <li>@Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.Dahayeni</li>
                   <li>@Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.Günlükhaftalık</li>
                   <li>@Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.Kolayonlinerezervasyon</li>
               </ul>

            </div>
        </div>
    </div>
</section>
<section class="home-about-area" id="about">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 no-padding home-about-right">
                <h1>
                    @Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.baslik
                </h1>
                
                <p>
                    @Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.yazi
                </p>

            </div>
            <div class="col-lg-6 no-padding home-about-left">
                <a><img src="https://i.hizliresim.com/Ba4WVG.png" style="border-radius:150px;"></a>
            </div>
        </div>
    </div>
</section><br /><br /><br /><br /><br /><br />